.price-direction-layout {
  position: absolute;
  width: 16px;
  left: 2px;
  top: 0;
  bottom: 0;
  pointer-events: none;

  i.fa-long-arrow-alt-up {
    color: seagreen;
  }

  i.fa-long-arrow-alt-down {
    color: crimson;
  }
}

.tenor-layout {
  cursor: default;
  text-align: center;
  user-select: none;
  font-weight: 600;
}
