*:not(.fa) {
  box-sizing: border-box;
  &:not(input) {
    user-select: none;
  }
}

#root {
  background-color: darken($background-color, 2%);
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

%button {
  pointer-events: initial;
  cursor: default;
  line-height: 1;
  border: none;
  background-color: $primary-color;
  color: $button-foreground-color;
  padding: 3px 8px 1px 8px;
  border-radius: 4px;
  border-bottom: 2px solid darken($primary-color, 15%);
  font-family: inherit;

  &:not(:disabled):active {
    transform: translateY(1px);
  }

  &:disabled {
    background-color: lighten($background-color, 10%);
    color: darken($button-foreground-color, 50%);
  }
}

.visible {
  display: initial;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.ticket {
  min-width: 250px;
}

.preset-buttons {
  margin: 8px 0;

  &.four {
    button {
      width: 25%;
    }
  }

  &.three {
    button {
      width: 33%;

      &:nth-child(2) {
        width: 34%;
      }
    }
  }

  button {
    border: none;
    background-color: $primary-color;
    color: $button-foreground-color;
    padding: 6px 0 5px 0;
    border-bottom: 2px solid darken($primary-color, 15%);
    outline-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 15%);
    }

    &:active {
      transform: translateY(1px);
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &:not(:first-child) {
      border-left: 1px solid darken($primary-color, 10%);
    }
  }
}
