.modal-buttons {
  display: flex;
  justify-content: flex-end;

  &:not(:empty) {
    margin: 12px 0;
  }

  button {
    border-radius: 3px;
    text-align: center;
    border: none;
    height: 2em;
    text-transform: uppercase;
    font-size: $small-font-size;
    font-weight: 600;
    padding: 2px 8px 0 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    min-width: 100px;

    &:not(:first-child) {
      margin-left: 6px;
    }

    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      background-color: $lighter-color;
      color: darken($lighter-color, 15%);
      opacity: 0.5;
    }

    &:not(:disabled).success {
      background-color: $good-color;
      color: $button-foreground-color;
    }

    &:not(:disabled).cancel {
      background-color: $lighter-color;
      color: $foreground-color;
    }

    &.pull-left {
      margin: 0;
    }
  }

  .pull-right {
    margin: 0 0 0 auto;
  }
}
