.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 12px 8px;

  button {
    border-radius: 3px;
    text-align: center;
    border: none;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 0 0 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    color: #333;
    min-width: 100px;

    &:disabled {
      background-color: $table-border-color;
      color: darken($table-border-color, 15%);
      opacity: 0.5;
    }

    &:not(:disabled).success {
      background-color: seagreen;
      color: white;
    }

    &:not(:disabled).cancel {
      background-color: #e8e8e8;
    }

    &.pull-left {
      margin: 0;
    }
  }

  .pull-right {
    margin: 0 0 0 auto;
  }
}
