* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #444;
}

:not(button):not(select) {
  background-color: transparent;
}

button {
  padding: 2px 16px;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

button {
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
}

/*** Animations ***/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.tooltip {
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(black, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
