.message-detail {
  &.sell {
    color: $text-color-red;
  }

  &.buy {
    color: black;
  }

  .title {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px 8px;
    font-size: 13px;
  }

  .content {
    font-size: 15px;
    padding: 4px 16px 0 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
}
