$icon-size: 36px;
$title-padding: 12px;
$text-padding: 16px;
.message-box {
  width: 400px;
  font-family: "Roboto", sans-serif;

  .box-title {
    display: flex;
    align-items: center;
    margin: $title-padding / 3;
    font-family: inherit;

    .icon {
      &.good {
        color: $good-color;
      }

      &.bad {
        color: $danger-color;
      }

      &.neutral {
        color: $neutral-color;
      }

      i {
        font-size: $icon-size;
        color: inherit;

        &.spinner {
          position: relative;
          display: block;
          width: $icon-size;
          height: $icon-size;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-width: $icon-size / 8;
            border-style: solid;
            border-radius: $icon-size / 2;
            border-color: transparent;
            animation: spin 1s linear infinite;
          }

          &::after {
            border-color: $light-color;
            border-left-color: $primary-color;
          }
        }
      }
    }

    .text {
      font-family: inherit;

      h1 {
        font-family: inherit;
        font-size: $large-font-size;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 $title-padding;
        margin: 0;
        color: $foreground-color;
      }
    }
  }

  .content {
    font-family: inherit;
    padding: 0 $text-padding;
    margin: 0 $icon-size;

    .pricer-error {
      font-family: inherit;

      p {
        font-family: inherit;

        &:not(:first-child) {
          min-height: 0;
          opacity: 0.5;
          font-size: $smaller-font-size;
        }
      }
    }

    p {
      font-family: inherit;
      font-weight: 500;
      min-height: 5em;
      color: lighten($foreground-color, 15%);
      margin: 0;
      padding: 0;
    }
  }

  .message-box-footer {
    padding: 0 4px;
  }
}
