.message-detail {
  max-width: 520px;
  padding: 0 6px;

  .title {
    color: $foreground-color;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px 8px;
    font-size: $small-font-size;
  }

  .item {
    display: inline-block;
    background-color: $background-color;
    padding: 2px;
    width: 350px;
    margin: 2px;

    &.sell {
      .content {
        .line {
          color: $text-color-red;
        }
      }
    }

    &.buy {
      .content {
        .line {
          color: $foreground-color;
        }
      }
    }

    .content {
      font-size: $normal-font-size;
      padding: 4px 16px 0 16px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
