.message-detail {
  max-width: 460px;
  padding: 0 6px;
  .title {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px 8px;
    font-size: 13px;
  }

  .item {
    display: inline-block;
    background-color: lighten($foreground-color, 80%);
    padding: 2px;
    width: 220px;
    margin: 2px;

    &.sell {
      .content {
        .line {
          color: $text-color-red;
        }
      }
    }

    &.buy {
      .content {
        .line {
          color: black;
        }
      }
    }

    .content {
      font-size: 15px;
      padding: 4px 16px 0 16px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
