$icon-size: 48px;
$title-padding: 8px;
$text-padding: 16px;
.message-box {
  width: 400px;

  .box-title {
    display: flex;
    align-items: center;
    padding: $title-padding / 2 $title-padding $title-padding / 2 $title-padding;

    .icon {
      &.good {
        color: $good-color;
      }

      &.bad {
        color: $danger-color;
      }

      &.neutral {
        color: $neutral-color;
      }

      i {
        font-size: $icon-size;
        color: inherit;

        &.spinner {
          position: relative;
          display: block;
          width: $icon-size;
          height: $icon-size;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-width: $icon-size / 8;
            border-style: solid;
            border-radius: $icon-size / 2;
            border-color: transparent;
            animation: spin 1s linear infinite;
          }

          &::after {
            border-color: $light-color;
            border-left-color: $primary-color;
          }
        }
      }
    }

    .text {
      h1 {
        font-size: $large-font-size;
        text-transform: uppercase;
        padding: 0 $text-padding;
        margin: 0;
        color: $foreground-color;
      }
    }
  }

  p {
    min-height: 5em;
    color: $foreground-color;
    opacity: 0.75;
    font-weight: 500;
    padding: 0 $text-padding $text-padding $text-padding;
    margin: 0 $icon-size + $title-padding;
  }

  .message-box-footer {
    padding: 0 4px;
  }
}
