$cream-form-color: saturate(mix($foreground-color, #f1c012), 10%);
$green-form-color: saturate(mix($foreground-color, green), 10%);
$orange-form-color: saturate(mix($foreground-color, darkorange), 20%);
$grey-form-color: $foreground-color;
$field-size: 25px;

.empty-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;

  .text {
    opacity: 0.15;
    font-weight: 600;
    font-style: italic;
    color: $foreground-color;
  }
}

.middle-office {
  position: absolute;
  display: flex;
  align-items: stretch;
  top: 0;
  left: 0;
  bottom: $window-footer-size;
  width: 100%;
  background-color: $light-color;
  z-index: 1;

  .button-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 16px;

    button {
      display: block;
      margin: 8px 4px;

      &:first-child:not(:only-child) {
        margin-right: auto;
      }

      &.primary {
        background-color: $primary-color;
      }

      &.secondary {
        background-color: rgba(0, 0, 0, 0.15);
        color: $foreground-color;
      }

      &:disabled {
        opacity: 0.25;
      }
    }
  }

  &.hidden {
    display: none;
  }

  .left-panel {
    flex: 1;
    position: relative;
    margin-top: -1px;

    .table {
      height: 100%;
      background-color: $background-color;
    }

    .disabler {
      position: absolute;
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &.disabled {
        display: block;
        background-color: rgba(white, 0.75);
        pointer-events: all;
      }
    }
  }

  .right-panel {
    flex-basis: 800px;
    border-left: 1px solid $table-border-color;
    background-color: $background-color;
    border-top: 1px solid $table-border-color;
    margin-top: -1px;

    .container {
      position: relative;
      height: 100%;

      &:first-child {
        .form-group {
          background-color: $background-color;

          &:last-child {
            transition: transform 0.25s;
          }
        }
      }
    }

    .legs {
      overflow-x: hidden;
      height: 100%;
    }

    form {
      position: relative;
      height: 100%;

      &.invisible {
        visibility: hidden;
      }

      fieldset.group {
        display: block;
        width: 100%;
        margin: 0;
        border: none;

        &.full-height {
          height: 100%;
        }

        fieldset {
          display: initial;
          width: initial;
          margin: initial;

          legend {
            display: initial;
            color: initial;
            text-align: initial;
            font-size: initial;
            font-weight: initial;
            text-decoration: initial;
            margin: initial;
            padding: initial;
            width: initial;
          }
        }

        legend {
          display: block;
          color: lighten($grey-form-color, 5%);
          text-align: center;
          font-size: $small-font-size;
          font-weight: 800;
          text-decoration: underline;
          margin: 22px 0 0 0;
          padding: 4px;
          width: 100%;
        }

        &:disabled {
          legend {
            color: $table-border-color;
          }
        }
      }
    }

    .field {
      display: flex;
      align-items: center;
      width: 100%;

      &:not(.disabled).green {
        color: $green-form-color;
        fill: $green-form-color;
      }

      &:not(.disabled).orange {
        color: $orange-form-color;
        fill: $orange-form-color;
      }

      &:not(.disabled).cream {
        color: $cream-form-color;
        fill: $cream-form-color;
      }

      &:not(.disabled).grey {
        color: $grey-form-color;
        fill: $grey-form-color;
      }

      &.disabled {
        color: $table-border-color;
        fill: $table-border-color;
      }

      &:not(.disabled).negative {
        color: $text-color-red;
      }
    }
  }

  button {
    display: block;
    margin: 4px auto;
    height: 32px;
    width: 100%;
    max-width: 120px;
    background-color: $primary-color;
    color: $button-foreground-color;
    border: none;
    border-radius: 3px;
  }
}

.form-group {
  position: relative;
  border-right: 1px dashed $table-border-color;

  &:not(:first-child) {
    padding: 0;

    .heading {
      border-top: 1px dashed $table-border-color;
    }
  }

  .heading {
    display: flex;
    height: 38px;
    align-items: center;
    color: $foreground-color;

    &.disabled {
      color: $table-border-color;
    }

    .actions {
      display: flex;
      flex: 1;
      align-items: center;
      margin: 0 0 0 8px;
      justify-content: flex-end;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1px;
        height: 24px;
        width: auto;
        background: none;
        border: none;
        color: $primary-color;
        transition: background-color 0.2s;
        padding: 0 12px;
        border-radius: 40px;

        &.no-label {
          width: 16px;
          padding: 0;

          i {
            &.fa {
              &::before {
                font-size: 10px;
              }
            }

            color: $foreground-color;
          }

          .close-x {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;

            &:disabled {
              cursor: none;
            }

            &::after,
            &::before {
              position: absolute;
              top: 0;
              transform: translateY(11.3px) rotate(45deg);
              left: 4px;
              content: "";
              background-color: $foreground-color;
              height: 2px;
              width: 16px;
            }

            &::before {
              transform: translateY(11.3px) rotate(-45deg);
            }
          }
        }

        &:disabled {
          &.primary,
          &.danger {
            color: $foreground-color;
          }

          opacity: 0.25;
        }

        &:last-child {
          margin-right: 8px;
        }

        &:hover {
          background-color: darken($background-color, 5%);
        }

        &.primary:not(:disabled) {
          // background-color: $primary-color;
        }

        &.danger:not(:disabled) {
          color: $text-color-red;
        }

        span {
          margin: 0 0 0 4px;
          font-size: $smaller-font-size;
        }
      }
    }

    h1 {
      font-size: $normal-font-size;
      font-weight: 800;
      text-transform: uppercase;
      color: inherit;
      margin: 0;
      line-height: 2em;
      padding: 0 0 0 10px;
    }
  }
}

// Special styles for MuiTheme
.borderless /* notchedOutline (remove the border) */ {
  border: none;
}

.not-applicable {
  color: $grey-form-color;
  opacity: 0.4;
}

.select-search-root {
  margin: 0;
}

.select-search-input {
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
}

.select-search-outline {
  border: none;
}

.search-item {
  padding: 0;
  height: 32px;
  line-height: 32px;
}
