.mini-dob {
  border: 1px solid $table-border-color;

  .row {
    display: flex;
    align-items: center;
    line-height: $table-row-height;
    color: $text-color-black;

    &:not(:last-child) {
      border-bottom: 1px solid $table-border-color;
    }

    font-size: $table-font-size;
    font-weight: $table-font-weight;
    font-family: $table-font-family;

    .mini-firm,
    .mini-price,
    .mini-size {
      padding: 0 4px;
      width: 80px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;

      &:not(:last-child) {
        border-right: 1px solid $table-border-color;
      }

      &:not(.owned-by-broker).owned {
        color: $text-color-red;
      }

      &.owned-by-broker,
      &:not(.owned).same-bank {
        color: $text-color-blue;
      }
    }

    .mini-price {
      font-weight: bold;
    }

    .mini-firm {
      font-size: $table-font-size - 2;
      font-weight: $table-font-weight + 100;
      color: $text-color-green;
    }
  }
}
