.modal-window-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.20);
  text-align: center;

  &.hidden {
    visibility: hidden;
  }

  z-index: 3;

  .modal-window {
    display: inline-block;
    background-color: white;
    text-align: initial;
    line-height: normal;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.175);

    h1 {
      margin: 0;
    }

    &.visible {
      transform: translateY(-6vh);
    }

    .modal-title-bar {
      margin: 0 0 8px 0;
      height: 24px;

      .half {
        display: inline-block;
        vertical-align: middle;
        line-height: 24px;
        width: 50%;

        .item {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          font-weight: 600;
          line-height: normal;

          &:not(:last-child) {
            &::after {
              font-family: 'Font Awesome 5 Free Solid', sans-serif;
              content: '\f105';
              margin: 0 8px;
            }
          }
        }

        label,
        input[type="checkbox"] {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
          font-weight: 600;
        }

        &:last-child {
          text-align: right;
        }

        &:only-child {
          text-align: left;
        }
      }
    }
  }

  .modal-title {
    font-weight: 600;
    margin: 0 0 8px 0;
    padding: 8px 0 8px 0;
    text-align: center;
    text-transform: uppercase;

    small {
      color: #888;
    }
  }
}
