.title-chain {
  border-bottom: 1px solid $table-border-color;
  padding: 0px 4px;

  .title {
    display: flex;
    justify-content: center;

    .item {
      border-radius: 2px;
      color: $primary-color;
      font-size: $medium-font-size;
      font-weight: 600;
      padding: 4px 10px;
    }
  }

  .subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: $medium-font-size;
    font-weight: 600;
    padding: 4px;
  }
}


