.pod-tile-content {
  display: inline-block;

  &.scrollable {
    display: block;
    width: 100%;
    height: 100%;

    .pod {
      width: 100%;
      height: 100%;
    }
  }

  .pod {
    opacity: initial;

    &[data-showing-tenor="true"] {
      opacity: 0;
    }
  }

  overflow: hidden;

  .dob {
    position: absolute;
    display: none;

    top: $window-content-padding;
    bottom: 0;
    left: 0;
    right: 0;

    &[data-showing-tenor="true"] {
      display: block;
      pointer-events: all;
    }
  }
}
