.progress-dialog {
  padding: 8px;
  width: 400px;

  h1 {
    font-size: 18px;
  }

  $progress-background: #f8f8f8;
  $progress-border-color: #f1f1f1;

  .timer {
    font-family: $table-font-family;
    font-size: 14px;
    opacity: 0.5;
  }

  .progress {
    position: relative;
    height: 24px;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    margin: 16px 0 8px 0;
    border-radius: 3px;
    overflow: hidden;

    .value {
      background-color: $primary-color;
      height: 100%;
    }

    &:after {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: attr(data-value) '%';
      width: 100%;
      height: 100%;
      line-height: 24px;
      text-align: center;
      font-size: smaller;
      font-weight: 600;
      color: white;
    }
  }
}
