.question-box {
  width: 400px;

  h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 10px 0 10px;
  }

  p {
    min-height: 5em;
    opacity: 0.75;
    font-weight: 500;
    padding: 10px;
  }
}
