.select-container {
  display: flex;
  align-items: center;
  width: 13ex;
  line-height: $title-bar-height;
  height: $title-bar-height;
  cursor: default;
  padding: 0 4px;
  pointer-events: all;

  &:focus {
    background-color: darken($background-color, 6%);
    outline: 1px solid $primary-color;
  }

  &:hover {
    background-color: darken($background-color, 4%);
  }

  &.fit {
    width: 100%;
    padding-right: 0;
  }

  select {
    pointer-events: none;
    appearance: none;
    border: none;
    background: none;
    font-weight: 500;
    font-size: $normal-font-size;
    flex: 1;
    margin-right: -20px;
    color: $foreground-color;

    &.no-selection {
      color: rgba($foreground-color, 0.5);
    }
  }

  .arrow {
    width: $title-bar-height;
    height: $title-bar-height;
    line-height: $title-bar-height;
    text-align: center;
    background: none;
    color: $foreground-color;
    &.no-selection {
      color: rgba($foreground-color, 0.5);
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  position: absolute;
  box-shadow: 0 2px 24px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  pointer-events: all;
  z-index: 2147483647;
  background-color: $background-color;
  overflow: hidden;

  input {
    display: block;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid darken($background-color, 6%);
    color: $foreground-color;
    outline: none;
  }

  ul {
    flex: 1;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    color: $foreground-color;
    font-size: $normal-font-size;

    li {
      list-style: none;
      font-weight: 500;
      font-size: inherit;

      &.selected {
        background-color: darken($background-color, 4%);
      }
      span {
        display: block;
        cursor: default;
        padding: 8px;

        &:hover {
          background-color: $light-color;
        }
      }
    }
  }
}
