$delete-button-size: 24px;
.sound-item {
  position: relative;
  width: 100%;

  .label {
    position: relative;
    width: 100%;
    margin: 0 -24px 0 0;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;
  }

  .button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: $delete-button-size;
    height: $delete-button-size;
    line-height: $delete-button-size;
    text-align: center;

    &.delete {
      border-radius: $delete-button-size / 2;

      &:hover {
        color: crimson;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.085);
      }
    }
  }
}








