$table-font-weight: 500;
$table-font-size: 13px;
$table-font-family: 'Roboto', sans-serif;

.table {
  position: relative;
  font-size: 12px;
  min-height: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;

  .thead {
    width: 100%;
    z-index: 0;
    line-height: 30px;
  }

  .tbody {
    position: relative;
    flex: 1;
    z-index: 1;
  }

  .tbody .tr,
  .thead .tr {
    width: 100%;
    height: $table-row-height;
    line-height: $table-row-height;
    white-space: nowrap;
  }

  .thead .tr {
    border-bottom: 2px solid $table-border-color;
    height: auto;
    line-height: $table-row-height;
  }

  .thead .tr .th,
  .tbody .tr .td {
    display: inline-block;
    width: auto;
    vertical-align: top;
    line-height: inherit;
    height: inherit;
    cursor: text;
  }

  .thead .tr .th {
    pointer-events: initial;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.05);
    border-top: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;

    &:last-child {
      border-right: 1px solid $table-border-color;
    }

    input.filter {
      width: 100%;
      border: none;
      border-top: 1px dashed $table-border-color;
      line-height: 2.5;
      padding: 0 8px;
      outline-offset: -2px;
      background-color: white;
      text-align: center;

      &:focus {
        outline: 2px solid $primary-color;
      }
    }

    &.sortable {
      .label {
        margin: 0 -26px 0 0;
      }
    }

    .column {
      .label, .sort-indicator {
        display: inline-block;
        vertical-align: middle;
      }

      .label {
        text-align: center;
        width: 100%;

        .runs-quantity-input {
          display: block;
          background-color: white;
          border: none;
          padding: 0;
          height: $table-row-height;
          width: 100%;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 600;

          &:focus {
            outline: 2px solid $primary-color;
          }
        }

        .dual-header {
          line-height: $table-header-height;
          height: $table-header-height;

          .first, .second {
            line-height: $table-header-height / 2;
            height: $table-header-height / 2;
            width: 100%;

            button {
              pointer-events: initial;
              cursor: default;
              line-height: 1;
              border: none;
              background-color: $primary-color;
              color: white;
              padding: 3px 8px 1px 8px;
              border-radius: 4px;
              border-bottom: 2px solid $primary-dark-color;

              &:active {
                transform: translateY(1px);
              }
            }
          }
        }
      }

      .sort-indicator {
        height: 22px;
        width: 22px;
        line-height: 22px;
        border-radius: 11px;
        margin: 0 4px 0 0;
        cursor: pointer;
        text-align: center;
        pointer-events: initial;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        .fa.none {
          opacity: 0.5;
        }

        &:hover {
          .fa.none {
            opacity: 1;
          }
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }
  }

  .tbody .tr .td,
  .thead .tr .th {
    .price-layout, .size-layout {
      input {
        padding: 0 8px;
        min-width: 0;
        width: 100%;
        text-align: center;
        line-height: $table-row-height;
        height: $table-row-height;
        border: none;
        background: none;
        font-size: $table-font-size;
        font-family: $table-font-family;
        font-weight: $table-font-weight;

        &:focus {
          outline: 2px solid $primary-color;
          outline-offset: -2px;
          z-index: 1;
        }
      }
    }
  }

  .tbody .tr .td {
    text-align: center;
    border-bottom: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;
    pointer-events: initial;

    .price-layout {
      position: relative;

      &.flash {
        input {
          animation: flash 0.5s infinite;
        }
      }

      input {

        &:focus {
          cursor: initial;
        }

        cursor: default;

        &.owned {
          color: $text-color-red;
        }

        &.cancelled {
          color: #a0a0a0;
        }

        &.mid, &.tob-size {
          color: $text-color-blue;
        }

        &.spread {
          color: $text-color-green;
        }
      }
    }
  }

  .tbody .tr .td:last-child {
    border-right: 1px solid $table-border-color;
  }
}

.size-layout {
  display: flex;
  align-items: center;
  line-height: $table-row-height;
  white-space: nowrap;

  div {
    width: $table-row-height;
    line-height: $table-row-height;
    height: 100%;

    &.times {
      top: 0;
      left: 0;
      color: $text-color-red;
      height: $table-row-height;
      width: $table-row-height;
      line-height: $table-row-height;

      i {
        display: inline-block;
      }

      &:not(.clickable) {
        i {
          color: transparent;
          pointer-events: none;
        }
      }

      $red-x-size: 16px;

      &.clickable {
        i {
          position: relative;
          transition: all 0.25s;
          line-height: 15px;
          border-radius: 8px;
          margin: ($table-row-height - $red-x-size) / 2 0;
          width: $red-x-size;
          height: $red-x-size;

          $x-tick-length: 5 * $red-x-size / 8;

          &:after, &:before {
            content: '';
            position: absolute;
            left: ($red-x-size - $x-tick-length) / 2;
            top: $red-x-size / 2 - 1px;
            width: $x-tick-length;
            border-top: 2px solid $text-color-red;
            transition: border-color 0.25s;
          }

          &:after {
            transform: rotate(45deg);
          }

          &:before {
            transform: rotate(-45deg);
          }
        }

        &:hover {
          i {
            cursor: pointer;
            background-color: $text-color-red;
            color: white;

            &:after, &:before {
              border-color: white;
            }
          }

          cursor: default;
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }
  }

  input {
    flex: 1;
    color: $text-color-blue;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    border: none;
    font-weight: $table-font-weight;
    font-size: $table-font-size;
    font-family: $table-font-family;
    padding: 0;

    &:focus {
      outline: 2px solid $primary-color;
    }
  }
}
