$spinner-size: $table-row-height - 6;

.table {
  font-family: $table-font-family;
  font-size: $table-font-size;
  font-weight: $table-font-weight;
  background: none;

  display: flex;
  flex-direction: column;
  height: 100%;

  .empty-table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $background-color;
    h1 {
      font-size: 1.5 * $large-font-size;
      font-weight: 500;
      font-style: italic;
      color: rgba($foreground-color, 0.25);
    }
  }

  .thead {
    flex: 0 1;
  }

  .tbody {
    position: relative;
    flex: 1 0;
  }

  &.padded {
    border-left: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
  }

  .thead {
    .tr {
      white-space: nowrap;
      border-bottom: 1px solid $table-border-color;

      .th {
        position: relative;
        pointer-events: all;
        display: inline-block;
        vertical-align: top;
        font-weight: $table-font-weight + 300;
        font-size: $table-font-size - 2;
        color: lighten($foreground-color, 5%);
        text-transform: uppercase;
        text-align: center;
        background-color: darken($background-color, 5%);
        border-top: 1px solid $table-border-color;

        &:not(:first-child) {
          border-left: 1px solid $table-border-color;
        }

        &.sortable {
          .sort-indicator {
            pointer-events: all;
            cursor: default;
            position: absolute;
            top: 0;
            height: $table-row-height;
            right: 6px;
            background: none;

            &:hover {
              color: $primary-color;
            }
          }
        }

        input.filter {
          width: 100%;
          border: none;
          height: $table-header-height;
          padding: 0 4px;
          outline: none;
          background-color: lighten($background-color, 2%);
          border-top: 1px solid $table-border-color;
          color: inherit;
          font-weight: 500;

          &:hover, &:focus {
            outline: 2px solid $primary-color;
            outline-offset: -2px;
          }
        }

        .column {
          line-height: $table-header-height;
          min-height: $table-header-height;

          .dark-pool-header {
            font-size: $table-header-height / 2 - 1;
            line-height: $table-header-height / 2;
            height: $table-header-height;
            padding: 0;
          }

          .dual-header {
            height: 2 * $table-header-height;

            input {
              font-family: $table-font-family;
              height: $table-header-height;
              border: none;
              width: 100%;
              text-align: center;
              font-weight: $table-font-weight + 200;
              font-size: $table-font-size;
              color: $foreground-color;

              &:focus {
                outline: 2px solid $primary-color;
                outline-offset: -2px;
              }
            }
          }

          .twin-header {
            height: $table-header-height;

            .size, .price {
              display: inline-block;
              height: $table-header-height;
            }

            .size {
              width: 40%;
              line-height: $table-header-height;

              &:first-child {
                border-right: 1px solid $table-border-color;
              }

              &:last-child {
                border-left: 1px solid $table-border-color;
              }
            }

            .price {
              width: 60%;
            }

            .button-container {
              display: flex;
              align-items: center;
              justify-content: center;
              height: $table-header-height;

              button {
                display: block;
                background-color: $primary-color;
                color: $button-foreground-color;
                border: none;
                padding: 0 6px;
                border-radius: 3px;
                outline: none;
                margin: 0;

                &:hover {
                  background-color: darken($primary-color, 10%);
                }

                &:active {
                  transform: translateY(1px);
                }
              }
            }
          }
        }
      }
    }
  }

  .tbody {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    .tr {
      font-family: inherit;
      font-size: inherit;
      color: $text-color-black;

      &.dark-pool {
        background-color: rgba($good-color, 0.15);
      }

      &.error {
        background-color: rgba($text-color-red, 0.10);

        .td {
          .error-cell {
            color: $text-color-red;
          }
        }
      }

      &:last-child {
        border-bottom: 1px solid $table-border-color;
      }

      font-weight: inherit;

      &.my-fill {
        color: $text-color-red;
      }

      &.my-bank-fill {
        color: $text-color-blue;
      }

      border-top: 1px solid $table-border-color;

      .td {
        display: inline-block;
        vertical-align: top;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        text-align: center;
        color: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        line-height: $table-row-height;
        height: $table-row-height;

        &:not(:first-child) {
          border-left: 1px solid $table-border-color;
        }

        .padded {
          padding: 0 5px;
        }

        .tenor-layout {
          font-weight: ($table-font-weight + 300) !important;
          font-size: ($table-font-size - 2) !important;
          text-align: center;
          pointer-events: all;
          cursor: default;

          &:hover {
            text-decoration: underline;
          }
        }

        .ref {
          color: $text-color-red;
          width: $red-x-size;
          height: $red-x-size;
          border-radius: $red-x-size / 2;
          line-height: $red-x-size;
          margin: ($table-row-height - $red-x-size) / 2 auto;
          text-align: center;

          i {
            display: block;
            font-size: $small-font-size;
            line-height: inherit;
            margin: 0 auto;
          }

          &:hover {
            color: $button-foreground-color;
            background-color: $text-color-red;
          }
        }

        .firm {
          color: $text-color-green;
          font-size: $table-font-size - 3;
        }

        *:not(.fa) {
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
        }

        input {
          text-align: center;
          pointer-events: all;
          width: 100%;
          border: none;
          height: $table-row-height;
          color: inherit;

          &:focus {
            outline: 2px solid $primary-color;
            outline-offset: -2px;
          }

          &::placeholder {
            color: $text-color-grey;
          }
        }

        :not(.size-layout) {
          &.times {
            display: block;
            width: $table-row-height;
            height: $table-row-height;
            margin: 0 auto;

            svg {
              display: block;
              margin: ($table-row-height - $red-x-size) / 2 0;
              width: $red-x-size;
              height: $red-x-size;
              border-radius: $red-x-size;
            }

            fill: $text-color-grey;

            &.clickable {
              svg {
                transition: background-color 0.25s;
                fill: $text-color-red;

                &:hover {
                  fill: white;
                  background-color: $text-color-red;
                }

                &:active {
                  transform: translateY(1px);
                }
              }
            }
          }
        }

        .size-layout {
          position: relative;
          font-weight: $table-font-weight + 200;
          height: inherit;

          &.busy {
            &:before, &:after {
              position: absolute;
              width: 4px;
              height: 4px;
              border-radius: 2px;
              background-color: $foreground-color;
              top: $table-row-height / 2 - 2;
              left: 50%;
            }

            &:before {
              animation: blink 1s infinite linear 0.5s;
              content: '';
              margin-left: -3px;
            }


            &:after {
              animation: blink 1s infinite linear;
              content: '';
              margin-left: 3px;
            }

            input {
              color: transparent;
            }

            .times, .chevron {
              display: none;
            }
          }

          &:not(.cancelled) {
            .times {
              pointer-events: none;

              .st0 {
                fill: $text-color-grey;
              }
            }
          }

          &.cancelled {
            .times {
              display: none;
            }
          }

          &.in-depth {
            &.owned {
              pointer-events: all;

              svg {
                .st0 {
                  fill: $text-color-red;
                }
              }
            }
          }

          &:not(.in-depth) {
            &.among, &.owned, &.owned-by-broker {
              .times {
                pointer-events: all;

                svg {
                  .st0 {
                    fill: $text-color-red;
                  }
                }

                &:hover {
                  svg {
                    background-color: $text-color-red;

                    .st0 {
                      fill: $button-foreground-color;
                    }
                  }
                }
              }
            }
          }

          .plus-sign {
            font-size: $table-font-size - 2;
            height: $table-row-height;
            line-height: $table-row-height;

            i {
              display: block;
              height: $table-row-height;
              line-height: $table-row-height;
            }
          }

          .plus-sign,
          .times {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: $table-row-height;
            height: $table-row-height;
            cursor: default;
            z-index: 1;

            &:last-child {
              margin-left: -$table-row-height;
            }

            &:first-child {
              margin-right: -$table-row-height;
            }

            &.empty {
              display: none;
            }

            &.inactive {
              i {
                color: $good-color;
              }
            }

            &.active {
              i {
                color: $text-color-red;
              }
            }

            svg {
              display: block;
              height: $red-x-size - 2;
              width: $red-x-size - 2;
              margin: ($table-row-height - $red-x-size + 2) / 2;
              border-radius: $red-x-size;

              &:active {
                transform: translateY(1px);
              }
            }
          }

          .chevron {
            position: absolute;
            font-size: $table-row-height / 2;
            top: 2px;
            height: $table-row-height / 2;
            width: $table-row-height / 2;
            line-height: $table-row-height / 2;

            &.left {
              left: 4px;
            }

            &.right {
              right: 4px;
            }
          }

          &.among {
            &.owned {
              .chevron {
                color: $text-color-red;
              }
            }

            &.same-bank {
              .chevron {
                color: $text-color-blue;
              }
            }
          }
        }

        .cell {
          display: inline-block;
          vertical-align: top;
          color: $text-color-black;

          &.dark-pool {
            input {
              background-color: $darkpool-background-color;
            }
            &:not(.owned) {
              color: $darkpool-foreground-color;
            }
          }

          &.mid {
            color: $text-color-blue;
          }

          &.spread {
            color: $text-color-green;
          }

          &.owned {
            color: $text-color-red;
          }

          &:not(.owned).same-bank {
            color: $text-color-blue;
          }

          &.size-layout {
            &:first-child {
              // border-right: 1px solid $table-border-color;
            }

            &:last-child {
              // border-left: 1px solid $table-border-color;
            }


            &.joined {
              color: $text-color-black;

              &.among, &.owned {
                .chevron {
                  color: $text-color-red;
                }
              }
            }
          }

          &.price-layout {
            position: relative;
            font-weight: $table-font-weight + 200;
            height: $table-row-height;

            &.dark-pool-base {
              font-weight: $table-font-weight;
            }

            .price-direction-layout {
              // FIXME: this should be enabled at some point
              display: none;
            }

            &.busy {
              input {
                display: none;
              }

              .price-direction-layout {
                display: none;
              }
            }

            .spinner {
              display: flex;
              align-items: center;
              font-size: $table-font-size - 4;
              line-height: $table-row-height;
              height: $table-row-height;
              width: 100%;
              text-align: left;
              color: $text-color-black;
              opacity: 0.75;

              span {
                display: block;
                background: none;
              }
            }
          }
        }

        &.twin-cell {
          width: 100%;

          .cell {
            &.price-layout {
              width: 60%;
            }

            &.size-layout {
              width: 40%;

              &:first-child {
                border-right: 1px solid $table-border-color;
              }

              &:last-child {
                border-left: 1px solid $table-border-color;
              }
            }
          }
        }
      }
    }
  }

  &:hover {
    .scrollbar-container {
      pointer-events: all;
      opacity: 0.25;
    }
  }

  .scrollbar-container {
    transition: opacity 0.25s;
    position: absolute;
    display: block;
    width: 16px;
    background: none;
    box-sizing: content-box;
    pointer-events: none;
    opacity: 0;
    right: 0;
    top: 0;
    bottom: -4px;

    &.grabbed {
      pointer-events: all;
      opacity: 1;
    }

    &.hidden {
      display: none;
    }

    .handle {
      position: absolute;
      min-height: 30px;
      left: 3px;
      right: 3px;
      top: 3px;
      border-radius: 8px;
      background-color: $foreground-color;
      cursor: default;
    }
  }

  .tbody-scrollable-content {
    position: absolute;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;

    top: 0;
    width: 100%;
    left: 0;
    height: 100%;

    pointer-events: initial;
    overflow: hidden;
  }

  &.loading {
    position: relative;
    pointer-events: none;

    .tbody, .thead {
      opacity: 0.4;
      filter: blur(1px) grayscale(100%);
    }

    $spinner-size: 48px;

    &::after {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      margin-top: -$spinner-size / 2;
      margin-left: -$spinner-size / 2;
      content: '';
      width: $spinner-size;
      height: $spinner-size;
      border-width: 6px;
      border-style: solid;
      border-color: rgba($foreground-color, 0.1);
      border-radius: $spinner-size;
      border-top-color: $primary-color;
      animation: spin 1s infinite linear;
    }
  }
}

