.toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  background-color: darken($background-color, 2%);

  .content {
    display: flex;
    align-items: center;

    transition: transform 0.15s linear;
    font-size: $normal-font-size;
    padding: 0 16px;
    border-bottom: 1px solid $table-border-color;
    height: $window-toolbar-size;
    line-height: $window-toolbar-size;

    .execution-banner {
      display: flex;
      flex: 1;
      align-items: center;
      height: 2em;
      line-height: $table-row-height;
      padding: 0 8px;

      .execution-banner-item {
        font-size: $normal-font-size;
        font-weight: 500;
        font-family: $table-font-family;
        line-height: inherit;
        padding: 0 4px;
        border: 1px solid rgba($foreground-color, 0.05);
        background-color: rgba($foreground-color, 0.025);
        margin: 0 2px;
        border-radius: 2px;
        color: $foreground-color;
        word-spacing: 2px;
      }
    }

    button, .MuiInputBase-root {
      line-height: 2;
      border: none;
      background-color: $primary-color;
      color: $button-foreground-color;
      border-radius: 100px;

      i {
        margin: 0 8px 0 0;
        color: $button-foreground-color;
      }

      &:nth-child(n + 2) {
        margin: 0 0 0 12px;
      }

      &.middle {
        background-color: $good-color;
        margin: 0 0 0 30px;
      }

      &.front {
        background-color: $danger-color;
        margin: 0 0 0 30px;
      }
    }

    .pin {
      width: $window-toolbar-size;
      text-align: center;
      opacity: 0.5;
      transition: opacity 0.4s;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:nth-child(3) {
        margin: 0 0 0 auto;
      }
    }

    .broker-buttons {
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;

      .MuiFormControl-root .MuiFormControlLabel-label {
        line-height: inherit;
        width: 100px;
      }

      .MuiInputBase-root {
        &::after,
        &::before {
          border: none;
        }

        .MuiSelect-root {
          padding-right: 48px;
          padding-left: 16px;
          background-color: $primary-color;
          color: $button-foreground-color;
          border-radius: 2px;
          font-size: $normal-font-size;
          font-weight: 500;
          border-bottom: 2px rgba(0, 0, 0, 0.55);
        }

        .MuiSvgIcon-root {
          fill: $button-foreground-color;
        }
      }
    }
  }
}
