.user-profile-form {
  width: 640px;

  h4.no-content {
    opacity: 0.3;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  .disabled-item {
    font-family: "Roboto", sans-serif;
    opacity: 0.5;
  }
}
