@import "css-variables.css";

$title-bar-height: 19px;
$title-bar-button-size: 16px;
$table-header-height: 24px;
$table-row-height: 20px;
$table-tint: 0.075;

$window-border-size: 1px;
$window-toolbar-size: 48px;
$window-footer-size: 36px;

// Font sizes
$error-title-font-size: 90px;
$normal-font-size: 14px;
$large-font-size: $normal-font-size + 4;
$medium-font-size: $normal-font-size + 2;
$small-font-size: $normal-font-size - 1;
$smaller-font-size: $normal-font-size - 2;
$tiny-font-size: $normal-font-size - 4;

$table-font-size: $normal-font-size;
$table-font-weight: 400;
$table-font-family: "Roboto", sans-serif;
$red-x-size: $table-row-height - 6;
