@import "css-variables.css";

$title-bar-height: 1.05rem;
$title-bar-button-size: 1rem;
$table-header-height: 1.25rem;
$table-row-height: 1.25rem;
$table-tint: 0.075;

$window-border-size: 1px;
$window-toolbar-size: 2.5rem;
$window-footer-size: 2rem;

// Font sizes
$error-title-font-size: 7rem;
$normal-font-size: 1rem;
$large-font-size: 1.15rem;
$medium-font-size: 0.9rem;
$small-font-size: 0.85rem;
$smaller-font-size: 0.75rem;
$tiny-font-size: 0.5rem;

$table-font-size: $small-font-size;
$table-font-weight: 500;
$red-x-size: $table-row-height - 6;

$dark-background-form-background-color: #111;
