.workarea-error {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  p {
    padding: 24px;
    font-weight: inherit;
    font-size: inherit;
  }
  button {
    color: $primary-color;
    background: none;
    border: none;
    text-decoration: underline;
    text-transform: none;
    font-weight: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0 0 0 1ex;
    cursor: pointer;
  }
  h1 i {
    font-size: 90px;
    color: crimson;
  }
}
