.welcome {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba($foreground-color, 0.25);

  top: $window-toolbar-size - 1;
  left: -1px;
  bottom: $window-footer-size;
  right: -1px;

  background-color: $light-color;
  overflow: hidden;

  z-index: 0;

  h3, h5 {
    margin: 0;
  }
}
.workspace {
  position: absolute;

  top: $window-toolbar-size - 1;
  left: -1px;
  bottom: $window-footer-size;
  right: -1px;

  background-color: $light-color;
  overflow: hidden;

  z-index: 0;

  .window-element {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: $normal-font-size;
    background-color: $background-color;
    min-height: $title-bar-height + 2 * $table-header-height + 3 *
      $table-row-height;

    &.fixed:hover {
      cursor: default;
    }

    &[data-front-tile] {
      z-index: 1;
    }

    &.not-adjustable {
      button:first-child {
        display: none;
      }
    }

    &.minimized {
      max-height: $title-bar-height + 1;
      min-height: 0;
      overflow: hidden;
      border-bottom: 1px solid $table-border-color;
    }

    &:hover {
      cursor: grab;
    }

    &.grabbed {
      outline: 2px solid $primary-color;
      z-index: 3;

      .content {
        outline: none;
      }
    }

    .resize-handle {
      z-index: 2147483646;
      border-radius: 4px;
      background: none;

      &:hover {
        background-color: rgba($primary-color, 0.15);
      }

      &.horizontal {
        position: absolute;
        top: 0;
        width: 7px;
        height: 100%;
        cursor: col-resize;

        &.right {
          right: -$window-border-size;
        }

        &.left {
          left: -$window-border-size;
        }
      }

      &.corner {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 24px;
        width: 24px;
        border: 3px solid rgba(0, 44, 88, 0.15);
        border-radius: 0;
        border-left: none;
        border-top: none;
        opacity: 0;

        &:hover {
          background: none;
          opacity: 1;
          cursor: se-resize;
        }
      }

      &.vertical {
        position: absolute;
        left: 0;
        width: 100%;
        height: 7px;
        cursor: row-resize;

        &.bottom {
          bottom: -$window-border-size;
        }

        &.top {
          top: -$window-border-size;
        }
      }
    }

    .window-title-bar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      pointer-events: none;
      flex-basis: $title-bar-height;
      height: $title-bar-height;
      width: 100%;
      background: none;
      color: $foreground-color;
      border-top: 1px solid $table-border-color;
      border-right: 1px solid $table-border-color;
      border-left: 1px solid $table-border-color;
      border-bottom: none;
      padding: 0;
      z-index: 1;

      .item {
        display: flex;
        align-items: center;
        margin: 0 4px 0 0;
        height: 100%;
        line-height: $title-bar-height;

        button {
          background-color: $primary-color;
          color: $button-foreground-color;
          border-radius: 2px;
          font-size: $smaller-font-size;
          pointer-events: all;
          height: $title-bar-height - 5;
          line-height: $title-bar-height - 5;
          border: none;
          padding: 0 8px;
          margin: 0;

          &:not(:disabled):hover {
            background-color: darken($primary-color, 10%);
          }

          &:disabled {
            background-color: lighten($background-color, 10%);
            color: darken($button-foreground-color, 50%);
          }
        }
      }

      .ccy-group {
        display: inline-block;
        font-size: $normal-font-size;
        font-weight: 600;
        margin: 0 12px;
        opacity: 0.75;
      }

      h1 {
        font-size: $normal-font-size;
        line-height: $title-bar-height;
        margin: 0;
        padding: 0 2px;
        background: none;
      }

      .status {
        display: inline-block;
        margin: 0 8px;

        i {
          font-size: $tiny-font-size;
        }

        &.ok {
          i,
          span {
            color: $table-border-color;
          }
        }

        &:not(.ok) {
          i,
          span {
            color: $danger-color;
          }
        }

        span {
          font-size: $tiny-font-size;
          text-transform: uppercase;
          font-weight: 600;
          margin: 0 4px;
        }
      }

      .window-buttons {
        display: flex;
        align-self: flex-start;
        align-items: center;
        margin: 1px 0 0 auto;
        pointer-events: initial;
        padding: 0 4px;
        background: none;

        button {
          border-radius: $title-bar-button-size / 2;
          width: $title-bar-height - 2;
          height: $title-bar-height - 2;
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          color: $foreground-color;

          &:hover {
            background: darken($background-color, 10%);

            &:last-child {
              background: rgba($danger-color, 0.6);
            }
          }

          i {
            display: inline-block;
            vertical-align: top;
            line-height: $title-bar-height - 2;
            text-align: center;
            font-size: $smaller-font-size;
            padding: 0;
          }

          &:not(:last-child) {
            margin: 0 8px 0 0;
          }

          &:active {
            -webkit-transform: translateY(1px);
            -moz-transform: translateY(1px);
            -ms-transform: translateY(1px);
            -o-transform: translateY(1px);
            transform: translateY(1px);
          }
        }
      }
    }

    .window-content {
      position: relative;
      flex: 1 0;
      pointer-events: none;
      width: 100%;
      z-index: 0;
      padding: 0;
      background: none;
      border-right: 1px solid $table-border-color;
      border-left: 1px solid $table-border-color;
      border-bottom: 1px solid $table-border-color;
    }
  }
}
