.workspace {
  position: absolute;

  top: 0;
  left: 0;
  bottom: $window-footer-size;
  width: 100%;

  background-color: #e8e8e8;
  overflow: hidden;

  z-index: 0;

  .window-element {
    position: absolute;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    &.minimized {
      display: none;
    }

    &:hover {
      cursor: grab;
    }

    &.grabbed {
      box-shadow: 0 4px 16px -3px rgba(0, 0, 0, 0.5);
      z-index: 3;

      .content {
        border-color: transparent;
        cursor: grabbing;
      }
    }

    .window-buttons {
      position: absolute;
      pointer-events: initial;
      top: 1px;
      height: $title-bar-height;
      right: 1px;
      width: auto;
      line-height: $title-bar-height;
      padding: 0 8px;

      button {
        display: inline-block;
        vertical-align: middle;
        border-radius: $title-bar-button-size / 2;
        width: $title-bar-button-size;
        height: $title-bar-button-size;
        line-height: $title-bar-button-size;
        background: none;
        text-align: center;
        border: none;
        padding: 0;
        margin: 0;

        &:not(:last-child) {
          margin: 0 ($title-bar-height - $title-bar-button-size) 0 0;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.075);
        }

        &:active {
          -webkit-transform: translateY(1px);
          -moz-transform: translateY(1px);
          -ms-transform: translateY(1px);
          -o-transform: translateY(1px);
          transform: translateY(1px);
        }
      }
    }

    .resize-handle {
      z-index: 2147483648;
      border-radius: 4px;

      &:hover {
        background-color: rgba(0, 44, 88, 0.15);
      }

      &.horizontal {
        position: absolute;
        top: 0;
        width: 7px;
        height: 100%;
        cursor: col-resize;

        &.right {
          right: -$window-border-size;
        }

        &.left {
          left: -$window-border-size;
        }
      }

      &.vertical {
        position: absolute;
        left: 0;
        width: 100%;
        height: 7px;
        cursor: row-resize;

        &.bottom {
          bottom: -$window-border-size;
        }

        &.top {
          top: -$window-border-size;
        }
      }
    }

    .content {
      width: 100%;
      height: 100%;
      border: $window-border-size solid rgba(0, 0, 0, 0.25);
      background-color: white;
      z-index: 0;

      .window-title-bar {
        position: relative;
        pointer-events: none;
        width: 100%;
        padding: 0 8px;
        line-height: $title-bar-height;
        height: $title-bar-height;
        z-index: 2;

        button {
          @extend %button;
          line-height: $title-bar-height / 2;
        }

        h1 {
          font-size: 14px;
          margin: 0;
          line-height: 28px;
          display: inline-block;
        }

        .select {
          pointer-events: initial;
          margin-right: 8px;

          .MuiSelect-root {
            font-size: 120%;
            padding: 0 24px 0 8px;
            line-height: $title-bar-height;
          }

          &::after, &::before {
            content: none;
          }

          &:focus {
            background: transparent;
          }
        }
      }

      .window-content {
        position: absolute;
        left: 0;
        top: $title-bar-height + 8;
        right: 0;
        bottom: 0;
        pointer-events: none;
      }
    }
  }
}
