.welcome {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba($foreground-color, 0.25);

  top: $window-toolbar-size - 1;
  left: -1px;
  bottom: $window-footer-size;
  right: -1px;

  background-color: $light-color;
  overflow: auto;

  h3,
  h5 {
    margin: 0;
  }
}

.workspace {
  position: absolute;
  border-top: 2px solid $text-color-black;

  top: $window-toolbar-size;
  left: 0;
  bottom: $window-footer-size;
  right: 0;

  background-color: $light-color;
  z-index: 1;

  cib-window-manager {
    overflow: auto;
  }

  cib-window {
    background-color: $background-color;
    outline: 2px solid $text-color-black;
    transition: outline-color .25s;
    display: initial;

    &.ready {
      display: none;
    }

    &:hover {
      outline-color: $primary-color;
    }

    &.not-adjustable {
      button:first-child {
        display: none;
      }
    }

    &:hover {
      cursor: grab;
    }

    &.grabbed {
      outline: 2px solid $primary-color;

      .content {
        outline: none;
      }
    }

    &[minimized] {
      max-height: 21px;
      .window-content {
        height: 0;
      }
      .window-title-bar {
        @keyframes glow {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        .glow.glowing {
          position: absolute;
          pointer-events: none;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          animation: glow 1s linear;
          box-shadow: inset 0 0 5px 4px $primary-color;
        }
      }
      button.minimize {
        display: none;
      }
    }

    &[scrollable] {
      .window-content {
        overflow-y: hidden;
      }
    }

    &[autosize] {
      button.fit {
        display: none;
      }
    }

    &:not([minimized]) {
      button.restore {
        display: none;
      }
    }

    .window-title-bar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      flex-basis: $title-bar-height;
      height: $title-bar-height;
      width: 100%;
      color: $foreground-color;
      border: none;
      padding: 0;
      background-color: $background-color;

      .item {
        display: flex;
        align-items: center;
        margin: 0 4px 0 0;
        height: 100%;
        line-height: $title-bar-height;

        button {
          background-color: $primary-color;
          color: $button-foreground-color;
          border-radius: 2px;
          font-size: $smaller-font-size;
          pointer-events: all;
          height: $title-bar-height - 5;
          line-height: $title-bar-height - 5;
          border: none;
          padding: 0 8px;
          margin: 0;

          &:not(:disabled):hover {
            background-color: darken($primary-color, 10%);
          }

          &:disabled {
            background-color: lighten($background-color, 10%);
            color: darken($button-foreground-color, 50%);
          }
        }
      }

      .ccy-group {
        display: inline-block;
        font-size: $normal-font-size;
        font-weight: 600;
        margin: 0 12px;
        opacity: 0.75;
      }

      h1 {
        font-size: $normal-font-size;
        line-height: $title-bar-height;
        margin: 0;
        padding: 0 2px;
        background: none;
      }

      .status {
        display: inline-block;
        margin: 0 8px;

        i {
          font-size: $tiny-font-size;
        }

        &.ok {
          i,
          span {
            color: $table-border-color;
          }
        }

        &:not(.ok) {
          i,
          span {
            color: $danger-color;
          }
        }

        span {
          font-size: $tiny-font-size;
          text-transform: uppercase;
          font-weight: 600;
          margin: 0 4px;
        }
      }

      .window-buttons {
        display: flex;
        align-self: flex-start;
        align-items: center;
        margin: 1px 0 0 auto;
        pointer-events: initial;
        padding: 0 4px;
        background: none;

        button {
          border-radius: $title-bar-button-size / 2;
          width: $title-bar-button-size;
          height: $title-bar-button-size;
          line-height: $title-bar-button-size;
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          color: $foreground-color;

          &:hover {
            background: darken($background-color, 10%);

            &:last-child {
              background: rgba($danger-color, 0.6);
            }
          }

          i {
            line-height: $title-bar-button-size;
            text-align: center;
            font-size: $smaller-font-size;
            padding: 0;
          }

          &:not(:last-child) {
            margin: 0 8px 0 0;
          }

          &:active {
            -webkit-transform: translateY(1px);
            -moz-transform: translateY(1px);
            -ms-transform: translateY(1px);
            -o-transform: translateY(1px);
            transform: translateY(1px);
          }
        }
      }
    }

    .window-content {
      position: relative;
      padding: 0;
      min-width: 330px;
      min-height: min-content;
      overflow-x: hidden;
    }
  }
}

.workspace cib-window .window-title-bar .execution-blotter-title, .execution-blotter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $text-color-black;

  h1 {
    font-size: 12px;
    margin: 0 4px;
  }

  h3 {
    font-size: 11px;
    margin: 0 24px;
  }

  .right-panel {
    display: flex;
    align-items: center;

    .window-button {
      margin: 0 10px;
      cursor: pointer;

      i {
        font-size: 12px;
      }
    }
  }
}
