.workarea-error {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: auto;
  text-align: center;
 font-size: $medium-font-size;
  font-weight: 500;

  p {
    padding: 24px;
    font-weight: inherit;
    font-size: inherit;
  }

  button {
    color: $primary-color;
    background: none;
    border: none;
    text-decoration: underline;
    text-transform: none;
    font-weight: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0 0 0 1ex;
    cursor: pointer;
  }

  h1 i {
    font-size: $error-title-font-size;
    color: $danger-color;
  }
}

$toast-size: 32px;

.toast {
  position: fixed;
  width: 30%;
  bottom: $window-footer-size + 5;
  left: 35%;
  padding: 0 16px;
  height: $toast-size;
  line-height: $toast-size;
  color: $button-foreground-color;
  font-weight: 600;
  background-color: $text-color-red;
  border-radius: 4px;
  box-shadow: 0 3px 8px -4px black;

  .button {
    position: absolute;
    width: $toast-size;
    height: $toast-size;
    top: 0;
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: background-color 0.25s;
    text-align: center;
    &:hover {
      background-color: darken($text-color-red, 5%);
    }
  }
}
