$table-border-color: rgba(0, 0, 0, 0.25);
$title-bar-height: 28px;
$title-bar-button-size: 20px;
$table-header-height: 54px;
$table-row-height: 24px;

$window-border-size: 2px;
$window-toolbar-size: 48px;
$window-footer-size: 36px;

$primary-color: #407af0;
$primary-dark-color: #2058c0;

$text-color-blue: #4071af;
$text-color-red: #f02327;

@import 'global';
@import 'loading-window';
@import 'modal-window';
@import 'minimized-window-buttons';
@import 'table';
@import 'toolbar';
@import 'workarea-footer';
@import 'workspace';
@import 'scrollbar';
@import 'messages';

.run-window {
  max-width: 640px;
}


