.scrollbar-track {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 12px;
  pointer-events: all;
  cursor: default;
}

.scrollbar-slider {
  position: absolute;
  top: 0;
  left: 2px;
  height: 30px;
  right: 2px;
  background-color: #444;
  border-radius: 12px;
}
