body.dark-theme {
  $primary-color: #109ac0;
  $background-color: #333;
  $alternate-background-color: rgba(255, 255, 255, 0.185);
  $button-foreground-color: #fff;
  $foreground-color: #eee;
  $light-color: #222;
  $lighter-color: #555;
  $danger-color: crimson;
  $good-color: seagreen;
  $neutral-color: dodgerblue;
  $table-border-color: rgba(255, 255, 255, 0.15);
  // Window colors
  $window-border-color: #e1e1e1;

  @import "../color-schemes/default-dark";
  @import "../styles/all";
}
