body.dark-theme {
  $primary-color: #109ac0;
  $background-color: #333;
  $button-foreground-color: #fff;
  $foreground-color: #eee;
  $light-color: #222;
  $lighter-color: #555;
  $danger-color: crimson;
  $good-color: seagreen;
  $neutral-color: dodgerblue;
  $yellow-background: #fff079;
  $table-border-color: rgba(255, 255, 255, 0.12);
  // Window colors
  $window-border-color: #e1e1e1;

  &.default-color-scheme {
    &.default-font {
      @import "../color-schemes/default-dark";
      @import "../styles/all";
    }
  }
}
