body.default-theme {
  $primary-color: #407af0;
  $background-color: #fff;
  $button-foreground-color: #fff;
  $foreground-color: #333333;
  $light-color: #e0e0e0;
  $lighter-color: #f1f1f1;
  $danger-color: crimson;
  $good-color: seagreen;
  $neutral-color: dodgerblue;
  $darkpool-background-color: #ffff00;
  $darkpool-foreground-color: #333;
  $table-border-color: #d5d5d5;
  // Window colors
  $window-border-color: #e1e1e1;

  &.default-color-scheme {
    &.default-font {
      @import "../color-schemes/default";
      @import "../styles/all";
    }
  }
}
