body.light-theme {
  $primary-color: #407af0;
  $background-color: #fff;
  $button-foreground-color: #fff;
  $foreground-color: #222222;
  $light-color: #e0e0e0;
  $lighter-color: #f1f1f1;
  $danger-color: crimson;
  $good-color: seagreen;
  $neutral-color: dodgerblue;
  $darkpool-background-color: rgba(255, 255, 128, 0.75);
  $darkpool-order-text-color: #ff1070;
  $darkpool-foreground-color: #333;
  $table-border-color: #d5d5d5;
  // Window colors
  $window-border-color: #e1e1e1;

  @import "../color-schemes/default";
  @import "../styles/all";
}
