body.light-theme {
  $primary-color: #407af0;
  $background-color: #fff;
  $alternate-background-color: rgba(0, 0, 0, 0.185);
  $button-foreground-color: #fff;
  $foreground-color: #222222;
  $light-color: #e0e0e0;
  $lighter-color: #f1f1f1;
  $danger-color: crimson;
  $good-color: seagreen;
  $neutral-color: dodgerblue;
  $table-border-color: rgba(0, 0, 0, 0.15);
  // Window colors
  $window-border-color: #e1e1e1;

  @import "../color-schemes/default";
  @import "../styles/all";
}
