html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
}

.mosaic.mosaic-blueprint-theme {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mosaic-window-controls {
    width: 100%;
}

.mosaic-window-title {
    display: none;
}
