$table-border-color: rgba(0, 0, 0, 0.25);
$title-bar-height: 28px;
$title-bar-button-size: 20px;
$table-header-height: 54px;
$table-row-height: 24px;

$window-border-size: 2px;
$window-toolbar-size: 48px;
$window-footer-size: 36px;

$primary-color: #407af0;
$primary-dark-color: #2058c0;

$text-color-blue: #4071af;
$text-color-red: #f02327;

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

:not(button):not(select) {
  background-color: transparent;
  color: #444;
}

button {
  padding: 2px 16px;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

button {
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
}

.modal-title-bar {
  margin: 0 0 8px 0;

  .half {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    width: 50%;

    .item {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      font-weight: 600;
      line-height: normal;

      &:not(:first-child) {
        margin: 0 0 0 8px;
      }
    }

    label, input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font-weight: 600;
    }

    &:last-child {
      display: none;
      text-align: right;
    }
  }
}

.toolbar {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  height: $window-toolbar-size;
  line-height: $window-toolbar-size;
  border-bottom: 1px solid $table-border-color;
  padding: 0 16px;

  button {
    line-height: 2;
    border: none;
    background-color: $primary-color;
    color: white;
    border-radius: 100px;

    &:before {
      content: '\f055';
      font-family: 'Font Awesome 5 Free Solid', sans-serif;
      padding: 0 10px 0 0;
    }

    &:nth-child(n + 2) {
      margin: 0 0 0 12px;
    }
  }
}

.footer {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  border-top: 1px solid $table-border-color;
  line-height: $window-footer-size;
  left: 0;
  right: 0;
  bottom: 0;
  height: $window-footer-size;
  padding: 0 8px;

  .tab-layout {
    display: flex;
    width: 100%;

    .tab-label {
      display: flex;
      align-items: center;
      height: 100%;

      input {
        font-size: 14px;
        font-weight: 500;
        padding: 0 8px;
        display: block;
        flex: 1;
        height: 100%;
        border: none;

        &:read-only {
          outline: none;
          cursor: default;
        }
      }

      button {
        border: none;
        background: none;
        margin: 0 0 0 8px;
        transition: all 0.25s;
        padding: 0;
        width: 22px;
        height: 22px;
        border-radius: 11px;

        &:hover {
          background-color: crimson;
          i {
            color: white;
          }
        }
      }
    }
  }

  button {
    &.new-workspace {
      padding: 0 12px;
      margin: 0 12px;
      background-color: $primary-color;
      color: white;
      line-height: $window-footer-size;
      border: none;

      span:first-child {
        margin: 0 8px 0 0;
      }

      span, i {
        color: inherit;
      }
    }


  }
}

.workspace {
  position: absolute;

  top: 48px;
  left: 0;
  bottom: 36px;
  width: 100%;

  background-color: #e8e8e8;
  overflow: hidden;

  z-index: 0;

  .window-element {
    position: absolute;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    &:hover {
      cursor: grab;
    }

    &.grabbed {
      box-shadow: 0 4px 16px -3px rgba(0, 0, 0, 0.5);
      z-index: 3;

      .content {
        border-color: transparent;
        cursor: grabbing;
      }
    }

    .window-buttons {
      position: absolute;
      pointer-events: initial;
      top: 1px;
      height: $title-bar-height;
      right: 1px;
      width: auto;
      line-height: $title-bar-height;
      padding: 0 8px;

      button {
        display: inline-block;
        vertical-align: middle;
        border-radius: $title-bar-button-size / 2;
        width: $title-bar-button-size;
        height: $title-bar-button-size;
        line-height: $title-bar-button-size;
        background: none;
        text-align: center;
        border: none;
        padding: 0;
        margin: 0;

        &:not(:last-child) {
          margin: 0 ($title-bar-height - $title-bar-button-size) 0 0;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.075);
        }

        &:active {
          -webkit-transform: translateY(1px);
          -moz-transform: translateY(1px);
          -ms-transform: translateY(1px);
          -o-transform: translateY(1px);
          transform: translateY(1px);
        }
      }
    }

    .resize-handle {
      border-radius: 4px;

      &:hover {
        background-color: rgba(0, 44, 88, 0.15);
      }

      &.horizontal {
        position: absolute;
        top: 0;
        width: 7px;
        height: 100%;
        cursor: col-resize;

        &.right {
          right: -$window-border-size;
        }

        &.left {
          left: -$window-border-size;
        }
      }

      &.vertical {
        position: absolute;
        left: 0;
        width: 100%;
        height: 7px;
        cursor: row-resize;

        &.bottom {
          bottom: -$window-border-size;
        }

        &.top {
          top: -$window-border-size;
        }
      }
    }

    .content {
      width: 100%;
      height: 100%;
      border: $window-border-size solid rgba(0, 0, 0, 0.25);
      background-color: white;
      z-index: 0;

      .window-title-bar {
        position: relative;
        pointer-events: none;
        width: 100%;
        padding: 0 8px;
        line-height: $title-bar-height;
        height: $title-bar-height;
        z-index: 2;

        h1 {
          font-size: 14px;
          margin: 0;
          line-height: 28px;
          display: inline-block;
        }

        select {
          display: inline-block;
          vertical-align: top;
          pointer-events: initial;
          font-weight: 600;
          background: none;
          border: none;
          margin: 2px 0;
          line-height: $title-bar-height - 4;
          height: $title-bar-height - 4;
          border-radius: 3px;
          color: #444;
          background-color: white;

          &:nth-child(n + 2) {
            margin: 2px 0 2px 8px;
          }

          &:hover,
          &:focus {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }

      .window-content {
        position: absolute;
        left: 2px;
        top: 28px;
        right: 2px;
        bottom: 3px;
        padding: 8px;
        pointer-events: none;
      }
    }
  }
}

.table {
  position: relative;
  font-size: 12px;
  min-height: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;

  .thead {
    width: 100%;
    z-index: 0;
    line-height: 30px;
  }

  .tbody {
    flex: 1;
    z-index: 1;
  }

  .tbody .tr,
  .thead .tr {
    width: 100%;
    height: $table-row-height;
    line-height: $table-row-height;
    white-space: nowrap;
  }

  .thead .tr {
    border-bottom: 2px solid $table-border-color;
    height: auto;
    line-height: $table-row-height;
  }

  .thead .tr .th,
  .tbody .tr .td {
    display: inline-block;
    width: auto;
    vertical-align: top;
    line-height: inherit;
    height: inherit;
    cursor: text;
  }

  .thead .tr .th {
    pointer-events: initial;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.05);
    border-top: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;

    &:last-child {
      border-right: 1px solid $table-border-color;
    }

    input.filter {
      width: 100%;
      border: none;
      border-top: 1px dashed $table-border-color;
      line-height: 2.5;
      padding: 0 8px;
      outline-offset: -2px;
      background-color: white;
      text-align: center;

      &:focus {
        outline: 2px solid $primary-color;
      }
    }

    &.sortable {
      .label {
        margin: 0 -26px 0 0;
      }
    }

    .column {
      .label, .sort-indicator {
        display: inline-block;
        vertical-align: middle;
      }

      .label {
        text-align: center;
        width: 100%;

        .runs-quantity-input {
          display: block;
          background-color: white;
          border: none;
          padding: 0;
          height: $table-row-height;
          width: 100%;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 600;

          &:focus {
            outline: 2px solid $primary-color;
          }
        }

        .dual-header {
          line-height: $table-header-height;
          height: $table-header-height;

          .first, .second {
            line-height: $table-header-height / 2;
            height: $table-header-height / 2;
            width: 100%;

            button {
              pointer-events: initial;
              cursor: default;
              line-height: 1;
            }
          }
        }
      }

      .sort-indicator {
        height: 22px;
        width: 22px;
        line-height: 22px;
        border-radius: 11px;
        margin: 0 4px 0 0;
        cursor: pointer;
        text-align: center;
        pointer-events: initial;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        .fa.none {
          opacity: 0.5;
        }

        &:hover {
          .fa.none {
            opacity: 1;
          }
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }
  }

  .tbody .tr .td {
    text-align: center;
    border-bottom: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;
    pointer-events: initial;

    .price-layout {
      position: relative;

      &.flash {
        input {
          animation: flash 0.5s infinite;
        }
      }

      input {
        &.owned {
          color: $text-color-red;
        }

        &.cancelled {
          color: #a0a0a0;
        }

        &.mid, &.tob-size {
          color: $text-color-blue;
        }

        &.spread {
          color: #10a060;
        }
      }
    }

    .size-layout {
      display: flex;
      align-items: center;
      line-height: $table-row-height;
      white-space: nowrap;

      div {
        width: $table-row-height;
        line-height: $table-row-height;
        height: 100%;

        &.times {
          top: 0;
          left: 0;
          color: $text-color-red;
          height: $table-row-height;
          width: $table-row-height;
          line-height: $table-row-height;

          &:not(.clickable) {
            color: transparent;
            pointer-events: none;
          }

          &.clickable:hover {
            &::after {
              cursor: pointer;
              background-color: $text-color-red;
              color: white;
            }

            cursor: default;
          }

          &.clickable:active {
            transform: translateY(1px);
          }

          &::after {
            display: block;
            transition: background-color 0.2s;
            font-family: 'Font Awesome 5 Free Solid', sans-serif;
            content: '\f00d';
            border-radius: 9px;
            line-height: 15px;
            width: 15px;
            height: 15px;
            margin: ($table-row-height - 16px) / 2 auto;
          }
        }
      }

      input {
        flex: 1;
        color: $text-color-blue;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
      }
    }
  }

  .tbody .tr .td:last-child {
    border-right: 1px solid $table-border-color;
  }
}

.run-window {
  max-width: 640px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-window {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  .spinner {
    position: relative;
    width: 128px;
    height: 128px;

    &:after, &:before {
      position: absolute;
      content: '';
      border: 16px solid rgba(0, 0, 0, 0.075);
      border-radius: 64px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: $primary-color;
      animation: spin 1.25s linear infinite;
    }
  }

  h3 {
    font-weight: 500;
  }
}

.scrollbar-track {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 12px;
  pointer-events: all;
  cursor: default;
}

.scrollbar-slider {
  position: absolute;
  top: 0;
  left: 2px;
  height: 30px;
  right: 2px;
  background-color: #444;
  border-radius: 12px;
}

.message-detail {
  .message-entry {
    width: 400px;

    .message-entry-label,
    .message-entry-value {
      display: inline-block;
      width: 50%;
      padding: 4px 12px;
    }

    .message-entry-value {
      text-align: right;
    }
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}


